<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <h1>Category</h1>
     <!-- make the first letter capital and the rest small and add them together -->
     <!--category & menuItems  from server.js-->
    <h1><%= category.charAt(0).toUpperCase() + category.slice(1) %> Menu</h1>

     
      <% menuItems.forEach(index => { %>
      <%= index.name %> BD <%= index.price %>
      <p>Rating: <%= index.rating %>/5</p>
      <p><%= index.details %></p>
    <% }); %>


</body>
</html>